data/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="model">
    <xs:complexType>
      <xs:all>
        <!-- architecture is optional: a config may omit it and inherit the
             whole block from the data/model.xml defaults overlay (and
             minimal fixtures, e.g. grammar-only configs, carry no
             architecture at all). -->
        <xs:element name="architecture" type="architectureType" minOccurs="0"/>
        <xs:element name="mentalModel" type="mentalModelType" minOccurs="0"/>
        <xs:element name="InputSpace" type="inputSpaceType" minOccurs="0"/>
        <xs:element name="PerceptualSpace" type="perceptualSpaceType" minOccurs="0"/>
        <xs:element name="ModalSpace" type="modalSpaceType" minOccurs="0"/>
        <xs:element name="ConceptualSpace" type="conceptualSpaceType" minOccurs="0"/>
        <xs:element name="SymbolicSpace" type="symbolicSpaceType" minOccurs="0"/>
        <xs:element name="OutputSpace" type="outputSpaceType" minOccurs="0"/>
        <xs:element name="WordSpace" type="wordSpaceType" minOccurs="0"/>
        <xs:element name="embeddings" type="embeddingsType" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- TetralemmaPolicy: shared 4-valued (catuskoti) balance policy
       inherited by ConceptualSpace and SymbolicSpace unless their
       <tetralemmaOverride enabled="true"> opts out. -->
  <xs:complexType name="tetralemmaPolicyType">
    <xs:all>
      <xs:element name="allowExcludedMiddle" type="xs:integer" minOccurs="0"/>
      <xs:element name="allowContradiction" type="xs:integer" minOccurs="0"/>
      <xs:element name="neitherThreshold" type="nonNegativeFloat" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- Per-space override marker. enabled="true" means the space
       block defines its own <TetralemmaPolicy>; default inherits. -->
  <xs:complexType name="tetralemmaOverrideType">
    <xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Architecture (top-level config shared by all model types)
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="architectureType">
    <xs:all>
      <xs:element name="modelType" type="modelTypeEnum" minOccurs="0"/>
      <!-- conceptualOrder = T = number of per-stage ConceptualSpace
           instances in self.conceptualSpaces. Stage 10 (doc/plans/
           2026-05-27-perceptstore-meta-taxonomy-reentrancy.md): each
           stage owns its own Ramsified sigma_in (incoming fold) and
           sigma_cs (PARALLEL-mode residual lift). In PARALLEL mode the
           pipeline walks stages 0..T-1 with each stage's sigma_cs
           applied to the prior stage's CS output; in SERIAL mode
           SyntacticLayer.compose dispatch per stage replaces
           sigma_cs[k] (the per-stage SERIAL dispatch is a follow-up;
           currently the per-word loop uses the terminal CS). -->
      <xs:element name="conceptualOrder" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Stage 1.E (doc/plans/2026-05-26-two-loop-pi-sigma-substrate.md):
           explicit two-mode forward dispatch knob.
             serial    = GRAMMATICAL: per-word body via _forward_body_per_word
                         (one IS_t per word, push to STM per word).
             parallel  = per-stage body via _forward_per_stage
                         (T iterations from <conceptualOrder>).
           Default derives from the configured grammar — serial when the
           XML enables a non-substrate rule, else parallel. Explicit
           values override the default. -->
      <xs:element name="conceptualMode" type="conceptualModeEnum" minOccurs="0"/>
      <!-- Task 4 (doc/plans/2026-05-29-stm-serial-parallel-modes.md §4):
           per-word router-fire gating for serial mode.
             per-word  = fire wordSubSpace.compose once per word in the
                         serial per-word loop (intra-predictor routing
                         context); boundary fire OFF.
             boundary  = fire only at the sentence boundary
                         (_chart_compose_at_C / _chart_generate_from_stm);
                         the inter-sentence predictor's routing snapshot.
             both      = (DEFAULT) per-word AND boundary both fire.
             off       = neither fires. -->
      <xs:element name="routerWireSerial" type="routerWireSerialEnum" minOccurs="0"/>
      <xs:element name="processSymbols" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ergodic" type="xs:boolean" minOccurs="0"/>
      <xs:element name="naive" type="xs:boolean" minOccurs="0"/>
      <!-- Master switch for symbolic-priming heat (forward working memory);
           default false = off, zero training-path cost. Plan
           2026-06-06-symbolic-heat-retrieval. -->
      <xs:element name="symbolicPriming" type="xs:boolean" minOccurs="0"/>
      <!-- Retrieval scalar knobs for heat-biased candidate scoring
           (plan §Configuration, doc/plans/2026-06-06-symbolic-heat-retrieval.md).
           All optional; defaults preserved in code (off by default when
           attention=off).  retrievalTopKContent / retrievalTopKHeat: candidate
           union sizes.  retrievalOuterTopK: active rows for outer-heat builders.
           retrievalAlpha / retrievalBeta: content-sim / heat-log weights.
           retrievalGamma / retrievalDelta: first- / second-order carrier weights
           (zero = off = byte-identical to primer mode).
           retrievalUseOuterProduct: reserved for future dense-C gating. -->
      <xs:element name="retrievalTopKContent" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="retrievalTopKHeat" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="retrievalOuterTopK" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="retrievalAlpha" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalBeta" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalGamma" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalDelta" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalUseOuterProduct" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sigmaPi" type="sigmaPiEnum" minOccurs="0"/>
      <xs:element name="prediction" type="predictionEnum" minOccurs="0"/>
      <xs:element name="maxResponseLength" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="data" type="dataType" minOccurs="0"/>
      <xs:element name="training" type="trainingType" minOccurs="0"/>
      <!-- Architecture-level embedding-training override. Models.py reads
           ``trainEmbeddings`` (and singular ``trainEmbedding``) from the
           architecture block ahead of ``<training><trainEmbedding>``; the
           boolean plural form maps true -> BOTH, false -> NONE. -->
      <xs:element name="trainEmbeddings" type="xs:boolean" minOccurs="0"/>
      <xs:element name="trainEmbedding" type="trainEnum" minOccurs="0"/>
      <xs:element name="server" type="serverType" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="embeddingPath" type="xs:string" minOccurs="0"/>
      <xs:element name="weightsPath" type="xs:string" minOccurs="0"/>
      <xs:element name="monotonic" type="xs:boolean" minOccurs="0"/>
      <xs:element name="truthBiasScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="LuminosityWeight" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="UniversalityWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Quaternary-corner balance knobs (tetralemma / catuskoti): select
           which corners of {T, F, N, B} are permitted during training. See
           basicmodel/doc/BuddhistParallels.md for the 4-valued (quaternary)
           truth semantics.
             allowExcludedMiddle:  1  = permit NEITHER (default)
                                  -1  = forbid NEITHER (classical LEM)
             allowContradiction:   0  = forbid BOTH (default, non-contradiction)
                                   1  = permit BOTH (paraconsistent / LP)
       -->
      <xs:element name="allowExcludedMiddle" type="xs:integer" minOccurs="0"/>
      <xs:element name="allowContradiction" type="xs:integer" minOccurs="0"/>
      <!-- Shared tetralemma policy block for ConceptualSpace /
           SymbolicSpace; per-space override via that section's
           ``<tetralemmaOverride enabled="true">`` plus its own nested
           <TetralemmaPolicy>. -->
      <xs:element name="TetralemmaPolicy" type="tetralemmaPolicyType" minOccurs="0"/>
      <xs:element name="l1Lambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="discontinuityLambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="useSubspaceActivation" type="xs:boolean" minOccurs="0"/>
      <xs:element name="certainty" type="xs:boolean" minOccurs="0"/>
      <xs:element name="amp" type="ampModeEnum" minOccurs="0"/>
      <!-- L1 penalty on lift / lower gates. 0 disables. -->
      <xs:element name="gateL1Lambda" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Sparse-MoE load-balance loss weight (active when chartTopK > 0). -->
      <xs:element name="loadBalanceWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Symbol-partition geometry for conceptualOrder > 1:
           tapered = geometrically narrowing slices (default);
           uniform = equal-width slices. -->
      <xs:element name="conceptualWidth" type="conceptualWidthEnum" minOccurs="0"/>
      <xs:element name="maxActivePerLayer" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Single continuous truth bar in [0, 1] (read onto ConceptualSpace
           AND SymbolicSpace; overridable per-space). 0 = record/accept all
           truths, 1 = none. Governs BOTH content-aware learned-relation
           codebook insertion and SymbolicSpace truth recording (gold +
           training). Replaces the retired binary accumulateTruth /
           truthMinMagnitude switches. -->
      <xs:element name="truthCriterion" type="unitInterval" minOccurs="0"/>
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="symbolLearning" type="symbolLearningType" minOccurs="0"/>
      <!-- Per-stage chart re-parse retired 2026-05-12 alongside chart-
           at-stem.  The chart now fires uniformly at C-tier inside
           every body stage; the legacy reparse knob is no longer read. -->
      <!-- Retired compatibility knob. MereologicalTree has been removed;
           values are accepted but ignored. -->
      <xs:element name="mereologicalTreeSize" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Optional: dump POS-labelled syntax tree at end of every
           MentalModel.forward(); see doc/Language.md "POS side-channel". -->
      <xs:element name="writeSyntax" type="xs:boolean" minOccurs="0"/>
      <xs:element name="syntaxOutPath" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       MentalModel section — present only for MentalModel configs
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="mentalModelType">
    <xs:all>
      <xs:element name="grammar" type="grammarType" minOccurs="0"/>
      <xs:element name="interpretation" type="unitInterval" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Enumerations
       ═══════════════════════════════════════════════════════════════════ -->

  <xs:simpleType name="modelTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="simple"/>
      <xs:enumeration value="embedding"/>
      <xs:enumeration value="passthrough"/>
      <xs:enumeration value="vq"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ampModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="off"/>
      <xs:enumeration value="fp16"/>
      <xs:enumeration value="bf16"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="conceptualWidthEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="tapered"/>
      <xs:enumeration value="uniform"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Stage 1.E forward-dispatch mode (doc/plans/2026-05-26-two-loop-
       pi-sigma-substrate.md). -->
  <xs:simpleType name="conceptualModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="serial"/>
      <xs:enumeration value="parallel"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Task 4 per-word router-fire gating (doc/plans/2026-05-29-stm-
       serial-parallel-modes.md §4). -->
  <xs:simpleType name="routerWireSerialEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="per-word"/>
      <xs:enumeration value="boundary"/>
      <xs:enumeration value="both"/>
      <xs:enumeration value="off"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tri-state codebook mode. Canonical values: none | quantize |
       project. Legacy booleans true/false are accepted as deprecated
       aliases (true -> quantize, false -> none) to match
       Space.normalize_codebook_mode's backward-compat parsing; prefer the
       canonical names in new configs. -->
  <xs:simpleType name="codebookModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="quantize"/>
      <xs:enumeration value="project"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- OutputSpace readout: the final nonlinearity applied to the
       unquantised regression head (Task #11, architecture-backlog §1).
       identity = bare linear (the historical default; output rescaled by
       Data.denormalize). sigmoid = logistic squash for binary/scalar
       supervised targets (e.g. XOR), so a {0,1} label is representable
       without a codebook. Only consulted on the regression-head path
       (nVectors==1 or codebook absent); ignored by the quantized /
       activation-mode (<nonlinear>) paths. Default identity. -->
  <xs:simpleType name="readoutEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="identity"/>
      <xs:enumeration value="sigmoid"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="chartCollapseEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="root"/>
      <xs:enumeration value="broadcast"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Span of the Pi/Sigma operator (replaces the boolean butterfly knob):
       last = per-slot (last dim only); butterfly = O(N log N) cross-dim
       cascade; full = dense flattened square matrix (full interconnect, the
       square invertible bridge). Default last. See doc/specs/2026-06-05-
       dimensional-governance.md. -->
  <xs:simpleType name="sigmaPiEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="last"/>
      <xs:enumeration value="butterfly"/>
      <xs:enumeration value="full"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ``reconstructEnum`` / the ``<reconstruct>`` element were RETIRED
       (A1, 2026-06-09). The ConceptualCombine now UNCONDITIONALLY integrates
       all three streams (PS + SS + CS); the former ``perfect`` skip-combine
       mode is gone, so reconstruction is unconditionally from concepts. -->

  <!-- Per-space symbolic-RETRIEVAL mode (doc/plans/2026-06-06-symbolic-
       heat-retrieval.md, Handoff addendum). This is NOT transformer/QKV
       self-attention: the attention element selects how the reverse path
       biases codebook-row retrieval (content proximity + taxonomy heat).
         off          : no heat-biased retrieval; current reverse behavior
                        (DEFAULT; configs with no attention resolve here).
         primer       : row heat only (Taxonomy._priming / priming_mask).
         second-order : dense feature-space carrier C = A_S^T diag(r_S) A_S.
         low-rank     : active factors U = diag(sqrt(r_S)) A_S; Cq = U^T(Uq)
                        without materializing C.
       The legacy boolean hasAttention (which formerly requested a QKV
       AttentionLayer in PerceptualSpace/ConceptualSpace) is DEPRECATED and
       inert; it is kept only as a backward-compat alias (data/model.xml still
       sets it). New configs should use the attention element instead. The
       mode is stored on the owning space and consumed by the reverse-
       retrieval path (later tasks); off preserves current behavior. -->
  <xs:simpleType name="attentionModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="off"/>
      <xs:enumeration value="primer"/>
      <xs:enumeration value="second-order"/>
      <xs:enumeration value="low-rank"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Stage 3 cleanup (2026-05-27): parserBackendEnum and
       routerKindEnum retired alongside the chart. The signal router
       (LanguageLayer) is the canonical parser. -->

  <!-- ``<symbolLearning enabled="true"/>``: the code reads the ``enabled``
       attribute (architecture.symbolLearning.enabled). A nested
       ``<enabled>`` child is also accepted for back-compat. -->
  <xs:complexType name="symbolLearningType">
    <xs:all>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="predictionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="interSentence"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="trainEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="CBOW"/>
      <xs:enumeration value="SBOW"/>
      <xs:enumeration value="BACKPROP"/>
      <xs:enumeration value="BOTH"/>
      <xs:enumeration value="JOINT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="datasetEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="xor"/>
      <xs:enumeration value="mnist"/>
      <xs:enumeration value="tomatoes"/>
      <xs:enumeration value="text"/>
      <xs:enumeration value="inline"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lexerEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="word"/>
      <xs:enumeration value="sentence"/>
      <xs:enumeration value="byte"/>
      <!-- raw: InputSpace emits the unanalyzed [B,1,N] byte buffer; the
           meronymic analyzer (chunking="analyse") owns all tokenization. -->
      <xs:enumeration value="raw"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitInterval">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="1.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nonNegativeFloat">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="positiveFloat">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Data section
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="dataType">
    <!-- xs:choice allows multiple <input>/<output> elements (inline data mode) -->
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="dataset" type="datasetEnum"/>
      <xs:element name="numShards" type="xs:positiveInteger"/>
      <xs:element name="maxDocs" type="xs:positiveInteger"/>
      <xs:element name="shardDir" type="xs:string"/>
      <xs:element name="minFrequency" type="nonNegativeFloat"/>
      <xs:element name="classificationMin" type="xs:string"/>
      <xs:element name="classificationMax" type="xs:string"/>
      <xs:element name="input">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="use" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="output">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="use" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Training section
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="trainingType">
    <xs:all>
      <xs:element name="numTrials" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="numEpochs" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="batchSize" type="xs:positiveInteger" minOccurs="0"/>
      <!-- DataLoader prefetch workers. 0 means synchronous in-process
           batch assembly. -->
      <xs:element name="numWorkers" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="learningRate" type="nonNegativeFloat" minOccurs="0"/>
      <!-- reconstructionScale: blend weight between OutputSpace
           prediction loss and reconstruction loss. Higher value =
           more reconstruction. 0 = output-only training.
           Legacy name reverseScale still parsed (with deprecation
           warning) by util.TheXMLConfig. -->
      <xs:element name="reconstructionScale" type="unitInterval" minOccurs="0"/>
      <!-- Deprecated legacy alias for reconstructionScale; util.TheXMLConfig
           remaps it (with a deprecation warning). Accepted here so
           unmigrated configs still validate. -->
      <xs:element name="reverseScale" type="unitInterval" minOccurs="0"/>
      <xs:element name="whatScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="whereScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="whenScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="negSamples" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="TruthLoss" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="maskRate" type="unitInterval" minOccurs="0"/>
      <xs:element name="trainEmbedding" type="trainEnum" minOccurs="0"/>
      <xs:element name="embeddingScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="autoload" type="xs:boolean" minOccurs="0"/>
      <xs:element name="autosave" type="xs:boolean" minOccurs="0"/>
      <xs:element name="checkpointEveryBatches" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="profile" type="xs:boolean" minOccurs="0"/>
      <xs:element name="certainty" type="xs:boolean" minOccurs="0"/>
      <!-- Inter-sentence ARMA(p, q) next-sentence prediction
           (InterSentenceLayer). The layer's AR/MA orders and hidden
           dim live under <WordSpace> (armaP/armaQ/armaHiddenDim);
           this scale is the loss weight applied on top of the
           per-batch ARMA MSE. -->
      <xs:element name="sentencePrediction" type="xs:boolean" minOccurs="0"/>
      <xs:element name="armaScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="sentencePrimingScale" type="nonNegativeFloat" minOccurs="0"/>
      <!-- In-STM autoregressive prediction (IntraSentenceLayer). Loss
           weight on the per-word L_intra = MSE(predicted idea, observed
           idea), added to the IR-loss path. The PI-then-Sigma predictor
           is owned by ConceptualSpace. -->
      <xs:element name="intraLossWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Inter-sentence end-state prediction (InterSentenceLayer's
           inter-level IntraSentenceLayer instance). Loss weight on the
           per-sentence L_inter = MSE(predicted next-end-state root,
           observed root), summed over the discourse window. Mirrors
           intraLossWeight. -->
      <xs:element name="interLossWeight" type="nonNegativeFloat" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Server section
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="serverType">
    <xs:all>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="timeout" type="xs:positiveInteger" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Space types
       ═══════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="inputSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="lexer" type="lexerEnum" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="perceptualSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="passThrough" type="xs:boolean" minOccurs="0"/>
      <!-- DEPRECATED QKV legacy alias; inert. See attentionModeEnum. -->
      <xs:element name="hasAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode (off|primer|second-order|low-rank);
           default off. Supersedes <hasAttention>. See attentionModeEnum
           and doc/plans/2026-06-06-symbolic-heat-retrieval.md. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Stage 5 (doc/plans/2026-05-26-two-loop-pi-sigma-substrate.md):
           optional butterfly cascade on PerceptualSpace.pi for
           cross-element FFT-style mixing over the flattened [B, N*D]
           view. When ``butterfly=true`` the PiLayer is built with the
           cascade enabled. The cascade length N is AUTO-COMPUTED from
           the space shape (nInput * nInputDim) and internally padded to
           the next power of two; there is no explicit length knob (the
           former ``<butterflyN>`` element was retired 2026-06-05; the
           cascade derives N from the shape). Default off; configs that
           don't opt in see the legacy PiLayer construction unchanged. -->
      <!-- DEPRECATED alias for <sigmaPi> (true -> butterfly, false/absent
           -> last). New configs should use architecture-level <sigmaPi> instead. -->
      <xs:element name="butterfly" type="xs:boolean" minOccurs="0"/>
      <!-- PerceptualSpace is subsymbolic: its <codebook> element was retired
           (2026-06-09, asymmetric-VQ plan §7 task 7). PS behaviour is fixed
           to "none" (continuous .event passthrough; percept prototypes live
           on the .what Embedding). Only SymbolicSpace carries a <codebook>. -->
      <!-- VQ-VAE EMA / growing-codebook knobs (shared semantics with
           symbolicSpaceType; see comments there). -->
      <xs:element name="commitmentDecay" type="positiveFloat" minOccurs="0"/>
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebookEmaDeadThreshold" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="codebookGrowthEpsilon" type="nonNegativeFloat" minOccurs="0"/>
      <!-- wordLearning (formerly chunkingFrequency): controls active
           lexicon growth. 0 = frozen codebook (training-time default);
           >=1 = on first sight of a new word, insert it into the
           lexicon and tag it as a part of the "words" symbol on the
           meronomy. Only embed.py sets >0 at lexicon-build time. -->
      <xs:element name="wordLearning" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="chunking" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="bpe"/>
            <xs:enumeration value="mphf"/>
            <xs:enumeration value="lexicon"/>
            <!-- ``none``: byte-direct.  Each byte becomes its own
                 perceptual slot via a 256-entry codebook lookup; no
                 BPE walker, no Python trie, no graph break at the
                 chunking boundary.  ``\0`` (byte 0) doubles as the
                 sentence-end / pad sentinel.  Requires nVectors>=256
                 and modelType=embedding.  See doc/Spaces.md
                 §"Chunking modes" for the cognitive rationale. -->
            <xs:enumeration value="none"/>
            <!-- Stage 7 (doc/plans/2026-05-27-perceptstore-meta-
                 taxonomy-reentrancy.md): ``radix`` routes chunking
                 through a ``PerceptStore`` (radix trie + hash map +
                 inverse table + learned codebook + byte fallback +
                 promotion). An alternative to Lexicon/MPHF/BPE for
                 the surface-form authoritative store; opt in with
                 ``<chunking>radix</chunking>``. (The current default
                 is ``analyse`` — see ``data/model.xml`` and
                 ``Spaces.PerceptualSpace`` chunking_mode fallback.) -->
            <xs:enumeration value="radix"/>
            <!-- R3-live: ``analyse`` makes the meronymic analyzer the
                 perceptual front end. The default available op is a
                 space-lexer (whitespace = a hard boundary); word runs
                 resolve through the word codebook (reproducing word
                 lexing), and from-scratch / sub-word analysis is the
                 bottom-up merge mechanism (``learn_merges``). -->
            <xs:enumeration value="analyse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Stage 7: radix-mode promotion knobs. ``chunkPromotionThreshold``
           is the byte-fallback hit count at which an unknown chunk
           gets promoted into the trie + codebook (default 4).
           ``chunkPromotionMinLength`` is the minimum chunk length
           (in bytes) below which promotion never fires (default 2).
           Both are ignored when chunking != "radix". -->
      <xs:element name="chunkPromotionThreshold"
                  type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="chunkPromotionMinLength"
                  type="xs:positiveInteger" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="modalSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="passThrough" type="xs:boolean" minOccurs="0"/>
      <!-- DEPRECATED QKV legacy alias; inert. See attentionModeEnum. -->
      <xs:element name="hasAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode; default off. See attentionModeEnum. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="whatPassThrough" type="xs:boolean" minOccurs="0"/>
      <xs:element name="wherePassThrough" type="xs:boolean" minOccurs="0"/>
      <xs:element name="whenPassThrough" type="xs:boolean" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="conceptualSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- DEPRECATED QKV legacy alias; inert. See attentionModeEnum. -->
      <xs:element name="hasAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode; default off. Supersedes <hasAttention>.
           See attentionModeEnum. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Optional butterfly cascade on the ConceptualSpace sigma fold
           (cross-element mixing; the cascade length is auto-computed from
           the space shape; see perceptualSpaceType/butterfly). -->
      <!-- DEPRECATED alias for <sigmaPi> (true -> butterfly, false/absent
           -> last). New configs should use architecture-level <sigmaPi> instead. -->
      <xs:element name="butterfly" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <!-- VQ-VAE EMA / growing-codebook knobs (shared semantics with
           symbolicSpaceType; see comments there). -->
      <xs:element name="commitmentDecay" type="positiveFloat" minOccurs="0"/>
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebookEmaDeadThreshold" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="codebookGrowthEpsilon" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="tetralemmaOverride" type="tetralemmaOverrideType" minOccurs="0"/>
      <xs:element name="TetralemmaPolicy" type="tetralemmaPolicyType" minOccurs="0"/>
      <xs:element name="stmCapacity" type="xs:positiveInteger" minOccurs="0"/>
      <!-- perWordStemSerial: when true, the per-word stem uses a
           causal cursor loop (option (a) from the K-microbatch
           design discussion) instead of the parallel-over-AR-windows
           default.  Serial path: B-sized STM accumulates one new
           word per step; after the K-loop the snapshots are staged
           as [B*K, K, D_c] for the body's chart-at-C parallelism.
           Work drops from O(B*K*N) to O(B*K) in the stem.  Inductor
           unrolls the loop when K is shape-bucketed (BPE power-of-
           two quantisation). -->
      <xs:element name="perWordStemSerial" type="xs:boolean" minOccurs="0"/>
      <!-- Per-space override of architecture.truthCriterion. -->
      <xs:element name="truthCriterion" type="unitInterval" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="symbolicSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="passThrough" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode (off|primer|second-order|low-rank);
           default off. SymbolicSpace has no hasAttention legacy alias:
           it never constructed a QKV AttentionLayer. See attentionModeEnum
           and doc/plans/2026-06-06-symbolic-heat-retrieval.md. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Optional butterfly cascade on the SymbolicSpace sigma operator
           (cross-slot mixing, needed for tasks like XOR that combine
           positions; the cascade length is auto-computed from the space
           shape; see perceptualSpaceType/butterfly). -->
      <!-- DEPRECATED alias for <sigmaPi> (true -> butterfly, false/absent
           -> last). New configs should use architecture-level <sigmaPi> instead. -->
      <xs:element name="butterfly" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="sortNetwork" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sortPasses" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Gate SymbolicSpace's stack-rewrite LanguageLayer dispatch
           (``self.use_stack_router``). Default false keeps the legacy
           forward path. -->
      <xs:element name="useStackRouter" type="xs:boolean" minOccurs="0"/>
      <xs:element name="l1Lambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="discontinuityLambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="symbolResidualScale" type="xs:decimal" minOccurs="0"/>
      <xs:element name="outputSymbolResidualScale" type="xs:decimal" minOccurs="0"/>
      <xs:element name="commitmentBeta" type="nonNegativeFloat" minOccurs="0"/>
      <!-- VQ-VAE EMA decay (``VectorQuantize.decay``).  Higher = slower
           adaptation, more stable assignment across time; lower =
           faster drift but less stable.  Default 0.9 (see
           doc/Spaces.md §"Codebook drift sync"). -->
      <xs:element name="commitmentDecay" type="positiveFloat" minOccurs="0"/>
      <!-- Dead-code retire: when a slot's EMA ``cluster_size`` falls
           below ``codebookEmaDeadThreshold``, replace it with a fresh
           sample from the current input batch.  Off by default
           because reseeding can blow up the effective number of
           distinct codes on non-stationary data; enable for
           growing-codebook semantics where novel inputs should evict
           rarely-used slots. -->
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebookEmaDeadThreshold" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Novelty insertion threshold for ε-growing codebook semantics.
           When > 0, ``VectorQuantize.grow_on_novelty`` inserts an input
           vector into an empty slot whenever its min-distance to the
           live codebook exceeds this value.  0 disables (use
           dead-code retire above, or fixed-size codebook). -->
      <xs:element name="codebookGrowthEpsilon" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="decorrelationWeight" type="xs:decimal" minOccurs="0"/>
      <xs:element name="spectralFlatnessWeight" type="xs:decimal" minOccurs="0"/>
      <xs:element name="impenetrableAntisymmetry" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="impenetrableTransitivity" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="impenetrableOverlap" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="impenetrableVariance" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="tetralemmaOverride" type="tetralemmaOverrideType" minOccurs="0"/>
      <xs:element name="TetralemmaPolicy" type="tetralemmaPolicyType" minOccurs="0"/>
      <!-- Stage 8 (doc/plans/2026-05-27-perceptstore-meta-taxonomy-
           reentrancy.md §Stage 8): META taxonomy storage placeholder.
           The actual taxonomy graph (parent -> children, child -> parent,
           and (ps_idx, ss_idx) -> meta_idx) is a runtime structure on
           ``SymbolicSpace`` (``self.taxonomy``,
           ``self.taxonomy_parent_map``, ``self.meta_pair_to_idx``);
           it serialises through ``vocab_extras`` (the same sidecar that
           carries WordVectors mappings). This optional XSD element exists
           so configs can ship a comment about the storage location and
           future seeded-taxonomy bootstraps without schema drift. The
           string contents are advisory only; no runtime knob is
           consumed from here. -->
      <xs:element name="taxonomy" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="outputSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Regression-head readout (identity | sigmoid); default identity.
           See readoutEnum. Only consulted when the head is the unquantised
           regression path (nVectors==1 or <codebook>none</codebook>). -->
      <xs:element name="readout" type="readoutEnum" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       WordSpace section — unified container for grammar infrastructure
       (SyntacticLayers, TruthLayer) and the per-batch inter-sentence
       ARMA(p, q) predictor (InterSentenceLayer). Sentence-level AR
       lives here, not in the within-sentence body — the body is now
       a pure IR (masked-LM) forward.

       InterSentenceLayer shape knobs live in this section
       (armaP / armaQ / armaHiddenDim); the loss weight lives under
       <architecture><training> as <armaScale>.
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="wordSpaceType">
    <xs:all>
      <xs:element name="syntacticHiddenDim" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="truthMaxEntries" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- InterSentenceLayer ARMA(p, q) shape knobs. p = AR lag count
           (number of previous sentence reps); q = MA lag count
           (number of previous prediction errors); armaHiddenDim is
           the MLP predictor's hidden layer width.  Defaults: p=5,
           q=2, hiddenDim=2*sentence_dim (computed at construction
           time when omitted). -->
      <xs:element name="armaP" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="armaQ" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="armaHiddenDim" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Long-term-memory (LTM) chain capacity: the InterSentenceLayer
           bounds its per-row chain of STM end-states (the AR sequence
           used for inter-sentence prediction) at this many entries.
           Separate from <truthMaxEntries> (TruthLayer's SS-codebook
           capacity). Default 1024. -->
      <xs:element name="ltmCapacity" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Stage 3 cleanup (2026-05-27): parserBackend, routerKind,
           chartTau, wMax, chartTopK, chartNoiseEps retired alongside
           the chart. The signal router (LanguageLayer) is the
           canonical parser. The retired elements raise loud
           ValueError at config load time; see
           Language._assert_retired_chart_knobs_absent. -->
      <!-- Soft-superposition output collapse mode; preserved for the
           signal router's root-state writeback contract. -->
      <xs:element name="chartCollapse" type="chartCollapseEnum" minOccurs="0"/>
      <!-- Per-word stem is the only path. Each word does an individual
           P->C->S->C round trip in the stem, ideas accumulate on
           ConceptualSpace.stm, and the chart fires at C over STM in the
           body. ``perWordStem`` knob removed 2026-05-12; legacy chart-
           at-stem launch retired in the same pass. -->
      <!-- Number of P->C iterations per word in the per-word stem path. -->
      <xs:element name="iterationsPerWord" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Downward generation: when true, MentalModel.forward() emits a
           codebook head via WordSpace.reconstruct() and stashes it on
           self._predicted_head for downstream (e.g. loss) consumption. -->
      <xs:element name="downwardGeneration" type="xs:boolean" minOccurs="0"/>
      <xs:element name="language" type="languageType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="embeddingsType">
    <xs:all>
      <xs:element name="numShards" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="maxDocs" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="vectorSize" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="trainingEpochs" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="minCount" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="artifactPath" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Language section (inside <WordSpace>)
       ═══════════════════════════════════════════════════════════════════ -->
  <!-- ``start`` may repeat: multiple ``<start>`` tags define accepted
       unreduced forms / start patterns (see test_grammar_start_rule), so
       this uses xs:sequence (start* then grammar? then interpretation?)
       rather than xs:all (which caps each child at one). -->
  <xs:complexType name="languageType">
    <xs:sequence>
      <xs:element name="start" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="grammar" type="grammarType" minOccurs="0"/>
      <xs:element name="interpretation" type="unitInterval" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grammarType" mixed="true">
    <!-- Grammar XML is intentionally open: configs may carry inline
         tier tags (<P>, <C>, <S>) and structured sections such as
         <compose>/<generate>, OR a bare text filename reference
         (``<grammar>complete.grammar</grammar>``) that
         ``WordSubSpace.load_from_grammar_file`` resolves under
         ``data/``. ``mixed="true"`` admits both forms. Language.py
         owns rule parsing. -->
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grammarSectionType">
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
