data/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="model">
    <xs:complexType>
      <xs:all>
        <!-- architecture is optional: a config may omit it and inherit the
             whole block from the data/model.xml defaults overlay (and
             minimal fixtures, e.g. grammar-only configs, carry no
             architecture at all). -->
        <xs:element name="architecture" type="architectureType" minOccurs="0"/>
        <xs:element name="mentalModel" type="mentalModelType" minOccurs="0"/>
        <xs:element name="InputSpace" type="inputSpaceType" minOccurs="0"/>
        <xs:element name="PartSpace" type="partSpaceType" minOccurs="0"/>
        <xs:element name="ModalSpace" type="modalSpaceType" minOccurs="0"/>
        <xs:element name="ConceptualSpace" type="conceptualSpaceType" minOccurs="0"/>
        <xs:element name="WholeSpace" type="wholeSpaceType" minOccurs="0"/>
        <xs:element name="OutputSpace" type="outputSpaceType" minOccurs="0"/>
        <xs:element name="SymbolSpace" type="symbolSpaceType" minOccurs="0"/>
        <xs:element name="embeddings" type="embeddingsType" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- TetralemmaPolicy: shared 4-valued (catuskoti) balance policy
       inherited by ConceptualSpace and WholeSpace unless their
       <tetralemmaOverride enabled="true"> opts out. -->
  <xs:complexType name="tetralemmaPolicyType">
    <xs:all>
      <xs:element name="allowExcludedMiddle" type="xs:integer" minOccurs="0"/>
      <xs:element name="allowContradiction" type="xs:integer" minOccurs="0"/>
      <xs:element name="neitherThreshold" type="nonNegativeFloat" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- Per-space override marker. enabled="true" means the space
       block defines its own <TetralemmaPolicy>; default inherits. -->
  <xs:complexType name="tetralemmaOverrideType">
    <xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Architecture (top-level config shared by all model types)
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="architectureType">
    <xs:all>
      <!-- The retired <modelType> (simple | embedding | passthrough | vq)
           moved into <data> as <dataType> (embedding | numeric) 2026-06-19:
           simple+passthrough collapsed to numeric, vq dropped (0 configs). -->
      <!-- subsymbolicOrder = T = number of per-stage ConceptualSpace
           instances in self.conceptualSpaces. Stage 10 (doc/plans/
           2026-05-27-perceptstore-meta-taxonomy-reentrancy.md): each
           stage owns its own Ramsified sigma_in (incoming fold) and
           sigma_cs (PARALLEL-mode residual lift). In PARALLEL mode the
           pipeline walks stages 0..T-1 with each stage's sigma_cs
           applied to the prior stage's CS output; in SERIAL mode
           SyntacticLayer.compose dispatch per stage replaces
           sigma_cs[k] (the per-stage SERIAL dispatch is a follow-up;
           currently the per-word loop uses the terminal CS). -->
      <xs:element name="subsymbolicOrder" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- wherePeriod (2026-07-04 encoding pass): the .where quadrature
           period in input BYTES. Default 8192 (twice the 4096 inputLength
           cap). Decoupled from architecture.nObjects (the retired implicit
           period, Sigma nVectors). The build seam keeps raise-to-fit for
           inputs longer than the period, warning once per build (never
           silent aliasing). -->
      <xs:element name="wherePeriod" type="xs:positiveInteger" minOccurs="0"/>
      <!-- whenPeriod (2026-07-04 encoding pass): the .when v2 LF horizon in
           clock ticks (the LTM event-addressing range). Default 1000000.
           The band is the SIMILARITY channel; absolute addressing rides the
           exact long-int clock (BasicModel.when_time), the Option-C hybrid. -->
      <xs:element name="whenPeriod" type="xs:positiveInteger" minOccurs="0"/>
      <!-- whenRungRatio: LF/HF period ratio of the .when v2 2-rung ladder.
           Default 32 (safe branch bound ~35 at the dense-support floor). -->
      <xs:element name="whenRungRatio" type="xs:positiveInteger" minOccurs="0"/>
      <!-- serial selects the per-word grammatical body. If omitted, code
           derives it from symbolicOrder > 0 for legacy configs. New configs
           should set it explicitly. -->
      <xs:element name="serial" type="xs:boolean" minOccurs="0"/>
      <!-- symbolicOrder is the symbolic iteration budget K of the conceptual
           wave. We are NOT forcing ramsification: the value is the maximum
           possible conceptual order, i.e. the order reached if a novel concept
           were introduced at every iteration. 0 disables the symbolic phase.
           It no longer serves as the primary mode selector; serial does. If
           omitted, the default still derives from the configured grammar for
           legacy configs: 1 when the XML enables a non-substrate rule, else 0. -->
      <xs:element name="symbolicOrder" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- syntacticOrder (doc/specs/orders.md, NEW 2026-06-19): the maximum
           DEPTH of the parse tree the grammatical (serial) reduction may build
           per sentence. A distinct axis from subsymbolicOrder (refinement
           passes), symbolicOrder (relational loop budget), and serial
           (traversal mode). 0 (default) =
           UNBOUNDED: the reduction runs to its natural single-S fixpoint
           (byte-identical). A positive value caps the NULL-seal reduce sweep to
           that many forced fold levels (statically clamped to the buffer
           capacity minus 1, so the CUDA-graph trip count stays static); the
           word-count upper bound holds STRUCTURALLY (a reduce micro-step is a
           no-op once a row's depth reaches 1). Inert in parallel mode:
           no per-sentence parse tree to bound. -->
      <xs:element name="syntacticOrder" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- TransformChooser kind. The placement scorer the structured
           grammar layers use: "anchordot" (default) is the stateless
           inner-product scorer (no params, state_dict / basin unchanged);
           "mlp" is the contextual MLPTransformChooser (a learned MLP over
           slot/pair state, candidate output, tool embedding and position).
           The MLP OWNS parameters, so selecting it changes the state_dict
           and starts a fresh basin (a deliberate cutover). -->
      <xs:element name="transformChooser" type="transformChooserEnum" minOccurs="0"/>
      <!-- Two-pass soft-superposition training for the grammar chooser
           (doc/Language.md "Soft-superposition route"). When true, each
           TRAINING batch runs twice as two separate trials: pass A at
           superposition temperature 0 (sharp, recorded) and pass B at
           exploreTemperature (flatter exploration, trimmed from the batch
           error, no batch-count increment). The chooser is in the gradient
           path directly (no straight-through). Default false keeps the single
           forward (byte-identical). -->
      <xs:element name="learning" type="xs:boolean" minOccurs="0"/>
      <!-- The [0, 1] superposition temperature for pass B of learning (0 =
           the chooser's own sharp softmax, 1 = uniform / flat; route scores
           are scaled by (1 - t)). Default 0.5. -->
      <xs:element name="exploreTemperature" type="xs:decimal" minOccurs="0"/>
      <!-- MetaSymbol role-participation Category codebook (doc/Language.md
           "Participation Categories"). When true, a small role-space
           VectorQuantize starts with one centroid per labelled grammar role
           (op_I[n] inputs + op_O1 outputs). Unsettled MetaSymbols accumulate
           bounded temporary role evidence during PERCEPTION; once stable they
           commit to one category id and discard the pending row. The
           structured grammar layers use those role vectors for all transform
           choosers. Unused centroids decay (natural collapse). Default true. -->
      <xs:element name="categoryCodebook" type="xs:boolean" minOccurs="0"/>
      <!-- Legacy/direct LiftLayer adverb helper flag. The live AdverbLayer
           grammar op force-builds the same zero-init eigenmodifier; this knob
           only affects ordinary LiftLayer instances. When true for plain
           LiftLayer, an adverb modifies a composed VP as a SPARSE eigenvalue
           edit of the verb, masked by the VP's own eigen-signature:
           a2 = atanh(vp) + p_vp (.) delta_adv. Default false leaves plain
           LiftLayer's sigma fold byte-identical. -->
      <xs:element name="adverbEigEdit" type="xs:boolean" minOccurs="0"/>
      <!-- Mereological order-raising (doc/specs/mereological-order-raising.md).
           When true, perception's autobind hook builds a meronymic lattice over
           the two towers: it mints objects at abstraction order 0 and raises
           order as attention requires (subsymbolicOrder sets the max order) by
           synthesizing a higher-order PART when many parts collapse onto one
           whole, relinking it and pruning the moot part-whole edges. The
           ramsification table is enabled at build on the PartSpace + terminal
           WholeSpace codebooks. Default false: no table allocated, no raising
           (byte-identical). -->
      <xs:element name="mereologyRaise" type="xs:boolean" minOccurs="0"/>
      <!-- RETIRED (2026-07-02 P3 two-phase forward, decision 10): phase
           separation makes non-replacement structural; the symbolic
           phase's outputs feed the SS leg, the head-side losses, and the
           concept table, never substituting the subsymbolic advance.
           Parsed only to emit a DeprecationWarning. -->
      <xs:element name="sparseReplace" type="xs:boolean" minOccurs="0"/>
      <!-- P4 sigma/pi stacks (2026-07-02 two-phase plan): distinct per-pass
           subsymbolic layers, PS sigmas[t] / WS pis[t], t in
           0..subsymbolicOrder-1 (depth IS mereological order; the stack is
           the subsymbolic reasoning engine). Default false: the single
           reused sigma/pi, byte-identical (construction is RNG-neutral). -->
      <xs:element name="subsymbolicStack" type="xs:boolean" minOccurs="0"/>
      <!-- Pass indices whose stack layer is the IDENTITY pass-through, e.g.
           "0,2"; the slot still occupies its pass so the pump always runs
           to subsymbolicOrder. Consumed only when subsymbolicStack=true. -->
      <xs:element name="subsymbolicNoop" type="xs:string" minOccurs="0"/>
      <!-- SymbolSpace 3-stream peer bind (2026-06-21, Slice B). When true, the
           terminal ConceptualCombine is built with n_streams=3 and bind_streams
           routes a third (symbol) peer leg (PS/WS percepts + SS symbols). Default
           false -> the 2-stream (PS, WS) bind -> byte-identical. -->
      <xs:element name="symbolTower" type="xs:boolean" minOccurs="0"/>
      <!-- Reading attention (doc/specs/reading-attention.md "(A) Reading
           attention"). When true, a learned .where producer runs at each t>0
           subsymbolic pass and writes _passback_scope_where (the normalized
           [start, end] reading scope) on the stage-0 WholeSpace for the
           <mereologyRaise> top-down handoff to consume. The producer scores the
           staged analysis spans (the word brackets) from a query built off the
           prior pass's concept + the active STM symbols (a small learned MLP
           over detached features; the gradient stops at the primed symbols, so
           the EMA-only VQ codebooks are untouched), under a monotonic/coverage
           mask + a shift bootstrap (init selects the next span = the for-loop).
           In text mode (dataType embedding) training, a next-word cross-entropy
           term trains the producer to land on the next word. Default false: no
           module allocated, no scope written, no loss (byte-identical). -->
      <xs:element name="readingAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Global attention (doc/specs/reading-attention.md "(B) Global
           attention"). When true, a free, content/relation-driven attention
           ranges over a TYPED addressable space - the input window, STM, LTM,
           and the symbol/whole codebook (the meronomy+taxonomy inventory) -
           emitting a typed .where (which space + the [start,end] bracket) and a
           soft-read of the addressed content (parked on _global_attention_obs).
           Unlike reading attention it has no monotonic mask and no next-word
           target, so it REQUIRES the stochastic element (the two-pass
           <learning>/<exploreTemperature>) to explore. The gradient stops at the
           keys (the codebook/LTM rows are EMA/persistent, detached); only the
           scorer readout trains. Dark by default: no module, the soft-read is
           parked not fed back, so the forward is byte-identical (the consumer
           that feeds the read into the task is a later slice). -->
      <xs:element name="globalAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Global-attention CONSUMER (doc/specs/reading-attention.md "(B)").
           When true, the parked soft-read is fed BACK into the head (the
           "answer") as a zero-init gated residual, so the answer/output loss
           trains the retrieval (gradient through the read, the attention
           distribution, the scorer; the codebook/LTM stores stay detached).
           This closes global attention's loop: the retrieval-augmented answer
           mechanism for the question-answering stages. The LTM address space is
           the parsed TruthSet (ltm_store), so "reading over the TruthSet stored
           in LTM" is the SPACE_LTM read fed back here. Requires
           globalAttention. Default false keeps the soft-read parked (B
           unchanged), byte-identical. -->
      <xs:element name="globalAttentionConsume" type="xs:boolean" minOccurs="0"/>
      <!-- Idea decoding (doc/old/2026-06-20-idea-decoder.md): generation as the
           dual of comprehension. When true, the reverse pass drives the seed
           from the grammar <generate> decode of the idea (idea -> symbol ->
           concept) and skips the chart rule rebuild. Default false -> the
           rule-driven reverse is unchanged (byte-identical). -->
      <xs:element name="ideaDecode" type="xs:boolean" minOccurs="0"/>
      <!-- Reconstruct from the idea rather than replaying the forward parse.
           When true, reverse() clears SymbolSpace's current/generate rules and
           the signal-router's last route, then calls generate on the supplied
           idea snapshot to infer which reverse operations should run. Default
           false preserves the ordinary cached-derivation reverse path. -->
      <xs:element name="reconstructFromIdea" type="xs:boolean" minOccurs="0"/>
      <!-- Truth-grounded reasoning, N-step (doc/plans/2026-06-23-reasoning-
           live-wiring.md). N = the number of intervening-idea iterations = the
           reasoning steps = the max chain depth leading to the answer. The
           recurrent tool-use loop proposes N ideas (the soft policy over the
           hard isTrue/isPart tools), verifies each hop, and realizes the chain
           to N sentences ranked by subsymbolic (attention) relevancy. This knob
           is the on/off SWITCH: absent ⇒ reasoning off (byte-identical); a
           positive value (10 recommended) turns it on with that chain depth;
           0 is explicitly off. -->
      <xs:element name="reasoningIterations" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- DEPRECATED alias for reasoningIterations (the prior boolean gate).
           When true it enables reasoning at the default depth (10); prefer
           <reasoningIterations>. Default false. -->
      <xs:element name="queryReasoning" type="xs:boolean" minOccurs="0"/>
      <!-- Serial word-at-a-time object/meta (doc/specs/mereological-order-
           raising.md "Serial-mode word-at-a-time loop"). When true (serial
           traversal only), the per-word body HARD-MASKS each step to
           the active word's span (PartSpace processes the word block via
           word_span_window instead of the soft gaussian window) and the STM
           push + the eager A/B/C mint fire ONCE PER WORD (the last-slot commit
           gate). Whole-sentence context re-enters via the §6c prelude's
           gist/intent. Independent of <mereologyRaise>. Default false ->
           gaussian window + per-slot push (byte-identical). -->
      <xs:element name="serialObjectMeta" type="xs:boolean" minOccurs="0"/>
      <!-- Truth / Ideas routing is structural, not flag-gated: accepted
           relative relations reduce to WS META when both entity operands snap
           to existing WS codebook rows; otherwise the composed-idea relation is
           stored explicitly with scalar trust. The <trust> multiplier below
           applies to incoming assertions/testimony before they enter the
           TruthSet, LTM, or learned-relation stores. -->
      <!-- LTM consolidation (doc/specs/mereological-order-raising.md "Truth /
           Ideas processing", "Two consolidation questions"; Alec 2026-06-18).
           When true, the discourse LTM (InterSentenceLayer end-state chain) and
           the RelativeTruthStore are COMBINED into ONE unified TernaryTruthStore
           tensor (Layers.TernaryTruthStore): rows (NP1, VP, NP2) of FULL idea
           vectors + a per-row timestamp + a scalar trust, stored UNSCALED. The
           store is constructed on SymbolicSubSpace (ltm_store), written at the
           observe site (every end-state appends a row), retired RelativeTruthStore
           (relative_store is built ONLY when this gate is OFF), persists via
           submodule registration (rides the state_dict) and survives Reset
           (it is an attribute, not in self.layers). reason/verify_relation read
           it on the content-width slice. Augmentable from an XML <truthSet> at
           load (provision_ltm). Off by default -> the legacy two-store path
           (byte-identical). This gate governs the storage home; the
           reduce-or-describe routing itself is structural. -->
      <xs:element name="ltmConsolidation" type="xs:boolean" minOccurs="0"/>
      <!-- LTM provisioning (doc/specs/mereological-order-raising.md "Augment the
           LTM by parsing a TruthSet from XML config"; Alec 2026-06-18). A set of
           trusted truths appended to the consolidated LTM at model load
           (provision_ltm), earliest timestamps. Each <truth> carries the text
           (the 'text' attribute or element content) and a 'trust' value in
           [-1, 1]; optional 'kind' (partOf | implies | other) tags the relation
           type. The row trust is multiplied by architecture.<trust>. Read only
           when <ltmConsolidation> is on and an ltm_store exists; otherwise
           ignored. See <trust>/<truthCriterion> for the runtime (JSON)
           truth-ingest path; this is the static, config-time provisioning path. -->
      <xs:element name="truthSet" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="truth" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="text" type="xs:string"/>
                    <xs:attribute name="trust" type="xs:decimal"/>
                    <xs:attribute name="kind" type="xs:string"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- GrammarOpsPass §6c (author sign-off 2026-06-11): the sentence
           protocol. In serial mode every sentence opens with an
           independent PARALLEL prelude of <subsymbolicOrder> pumps
           (pump zero: EMA on, intent-only commit — the gist primes
           both towers via §5 set_intent; nothing enters the
           workspace), then the per-word serial task runs under the
           §6d serial partition; the gist re-pumps on preemption only.
           Default false until the author's cutover. -->
      <xs:element name="sentenceProtocol" type="xs:boolean" minOccurs="0"/>
      <!-- Task 4 (doc/plans/2026-05-29-stm-serial-parallel-modes.md §4):
           per-word router-fire gating for serial mode.
             per-word  = fire symbolSpace.compose once per word in the
                         serial per-word loop (intra-predictor routing
                         context); boundary fire OFF.
             boundary  = fire only at the sentence boundary
                         (_chart_compose_at_C / _chart_generate_from_stm);
                         the inter-sentence predictor's routing snapshot.
             both      = (DEFAULT) per-word AND boundary both fire.
             off       = neither fires. -->
      <xs:element name="routerWireSerial" type="routerWireSerialEnum" minOccurs="0"/>
      <xs:element name="processSymbols" type="xs:boolean" minOccurs="0"/>
      <!-- Meronomy mode (MeronomySpec; MeronomyPlan Stage 9 cutover,
           2026-06-11): "on" binds the meronymic slots (PS.sigma /
           SS.pi) to the membership kernels via the K3-wire adapter and
           enables the interface factoring, the pole-quotient
           reference-half lookup, and the word/object binding table.
           Text on|off (default off in code; the cutover sets "on" in
           model.xml). dMaxStable bounds the contractive diagonal's
           stable clamp (default 4.0). -->
      <xs:element name="meronomy" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="dMaxStable" type="nonNegativeFloat"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ergodic" type="xs:boolean" minOccurs="0"/>
      <xs:element name="naive" type="xs:boolean" minOccurs="0"/>
      <!-- Master switch for symbolic-priming heat (forward working memory);
           default false = off, zero training-path cost. Plan
           2026-06-06-symbolic-heat-retrieval. -->
      <xs:element name="symbolicPriming" type="xs:boolean" minOccurs="0"/>
      <!-- Retrieval scalar knobs for heat-biased candidate scoring
           (plan §Configuration, doc/plans/2026-06-06-symbolic-heat-retrieval.md).
           All optional; defaults preserved in code (off by default when
           attention=off).  retrievalTopKContent / retrievalTopKHeat: candidate
           union sizes.  retrievalOuterTopK: active rows for outer-heat builders.
           retrievalAlpha / retrievalBeta: content-sim / heat-log weights.
           retrievalGamma / retrievalDelta: first- / second-order carrier weights
           (zero = off = byte-identical to primer mode).
           retrievalUseOuterProduct: reserved for future dense-C gating. -->
      <xs:element name="retrievalTopKContent" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="retrievalTopKHeat" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="retrievalOuterTopK" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="retrievalAlpha" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalBeta" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalGamma" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalDelta" type="xs:decimal" minOccurs="0"/>
      <xs:element name="retrievalUseOuterProduct" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sigmaPi" type="sigmaPiEnum" minOccurs="0"/>
      <xs:element name="prediction" type="predictionEnum" minOccurs="0"/>
      <!-- Trial-split: fraction of training batches run as pure next-idea
           prediction trials (reconstruction terms zeroed). 0.0 -> off ->
           byte-identical. -->
      <xs:element name="predictionTrialRatio" type="unitInterval" minOccurs="0"/>
      <xs:element name="maxResponseLength" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="data" type="dataType" minOccurs="0"/>
      <xs:element name="training" type="trainingType" minOccurs="0"/>
      <!-- Architecture-level embedding-training override. Models.py reads
           ``trainEmbeddings`` (and singular ``trainEmbedding``) from the
           architecture block ahead of ``<training><trainEmbedding>``; the
           boolean plural form maps true -> BOTH, false -> NONE. -->
      <xs:element name="trainEmbeddings" type="xs:boolean" minOccurs="0"/>
      <xs:element name="trainEmbedding" type="trainEnum" minOccurs="0"/>
      <xs:element name="server" type="serverType" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="embeddingPath" type="xs:string" minOccurs="0"/>
      <xs:element name="weightsPath" type="xs:string" minOccurs="0"/>
      <xs:element name="monotonic" type="xs:boolean" minOccurs="0"/>
      <xs:element name="truthBiasScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="LuminosityWeight" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="UniversalityWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Quaternary-corner balance knobs (tetralemma / catuskoti): select
           which corners of {T, F, N, B} are permitted during training. See
           basicmodel/doc/Philosophy.md for the 4-valued (quaternary)
           truth semantics.
             allowExcludedMiddle:  1  = permit NEITHER (default)
                                  -1  = forbid NEITHER (classical LEM)
             allowContradiction:   0  = forbid BOTH (default, non-contradiction)
                                   1  = permit BOTH (paraconsistent / LP)
       -->
      <xs:element name="allowExcludedMiddle" type="xs:integer" minOccurs="0"/>
      <xs:element name="allowContradiction" type="xs:integer" minOccurs="0"/>
      <!-- Shared tetralemma policy block for ConceptualSpace /
           WholeSpace; per-space override via that section's
           ``<tetralemmaOverride enabled="true">`` plus its own nested
           <TetralemmaPolicy>. -->
      <xs:element name="TetralemmaPolicy" type="tetralemmaPolicyType" minOccurs="0"/>
      <xs:element name="l1Lambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="discontinuityLambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="useSubspaceActivation" type="xs:boolean" minOccurs="0"/>
      <xs:element name="certainty" type="xs:boolean" minOccurs="0"/>
      <xs:element name="amp" type="ampModeEnum" minOccurs="0"/>
      <!-- Runtime device default (cpu | gpu | cuda | mps). Env override:
           BASICMODEL_DEVICE. Gate fixtures pin cpu: MPS kernels are
           nondeterministic, so a seeded gate only reproduces on CPU. -->
      <xs:element name="device" type="xs:string" minOccurs="0"/>
      <!-- L1 penalty on lift / lower gates. 0 disables. -->
      <xs:element name="gateL1Lambda" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Sparse-MoE load-balance loss weight. Currently inert: the
           load-balance bookkeeping retired with the chart and this knob
           has no consumer yet; it stands by for future signal-router
           rule load-balancing. -->
      <xs:element name="loadBalanceWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Symbol-partition geometry for subsymbolicOrder > 1:
           tapered = geometrically narrowing slices (default);
           uniform = equal-width slices. -->
      <xs:element name="conceptualWidth" type="conceptualWidthEnum" minOccurs="0"/>
      <xs:element name="maxActivePerLayer" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Single continuous truth bar in [0, 1] (read onto ConceptualSpace
           AND WholeSpace; overridable per-space). 0 = record/accept all
           truths, 1 = none. Governs BOTH content-aware learned-relation
           codebook insertion and WholeSpace truth recording (gold +
           training). Replaces the retired binary accumulateTruth /
           truthMinMagnitude switches. -->
      <xs:element name="truthCriterion" type="unitInterval" minOccurs="0"/>
      <!-- Model-level trust in incoming assertions/testimony. Effective
           signed DoT = this multiplier * incoming trust. For persisted STM
           descriptions, absolute rows store this event trust and relative rows
           apply it to the relation's collapsed scalar trust. -->
      <xs:element name="trust" type="unitInterval" minOccurs="0"/>
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="symbolLearning" type="symbolLearningType" minOccurs="0"/>
      <!-- Per-stage chart re-parse retired 2026-05-12 alongside chart-
           at-stem.  The chart now fires uniformly at C-tier inside
           every body stage; the legacy reparse knob is no longer read. -->
      <!-- Retired compatibility knob. MereologicalTree has been removed;
           values are accepted but ignored. -->
      <xs:element name="mereologicalTreeSize" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Optional: dump POS-labelled syntax tree at end of every
           MentalModel.forward(); see doc/Language.md "POS side-channel". -->
      <xs:element name="writeSyntax" type="xs:boolean" minOccurs="0"/>
      <xs:element name="syntaxOutPath" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       MentalModel section — present only for MentalModel configs
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="mentalModelType">
    <xs:all>
      <xs:element name="grammar" type="grammarType" minOccurs="0"/>
      <xs:element name="interpretation" type="unitInterval" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Enumerations
       ═══════════════════════════════════════════════════════════════════ -->

  <!-- Data tier (was the architecture-level <modelType>). embedding = the
       text / language-model path (PartSpace owns the byte/word Embedding
       lexicon); numeric = the dense-slab path (InputSpace carries a plain
       Tensor; e.g. MNIST pixels). Lives in <data> as <dataType>. -->
  <xs:simpleType name="dataTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="embedding"/>
      <xs:enumeration value="numeric"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ampModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="off"/>
      <xs:enumeration value="fp16"/>
      <xs:enumeration value="bf16"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="conceptualWidthEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="tapered"/>
      <xs:enumeration value="uniform"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Task 4 per-word router-fire gating (doc/plans/2026-05-29-stm-
       serial-parallel-modes.md §4). -->
  <xs:simpleType name="routerWireSerialEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="per-word"/>
      <xs:enumeration value="boundary"/>
      <xs:enumeration value="both"/>
      <xs:enumeration value="off"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Placement-chooser kind for the structured grammar layers. -->
  <xs:simpleType name="transformChooserEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="anchordot"/>
      <xs:enumeration value="mlp"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tri-state codebook mode. Canonical values: none | quantize |
       project. Legacy booleans true/false are accepted as deprecated
       aliases (true -> quantize, false -> none) to match
       Space.normalize_codebook_mode's backward-compat parsing; prefer the
       canonical names in new configs. -->
  <xs:simpleType name="codebookModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="quantize"/>
      <xs:enumeration value="project"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="chartCollapseEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="root"/>
      <xs:enumeration value="broadcast"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Span of the Pi/Sigma operator (replaces the boolean butterfly knob):
       last = per-slot (last dim only); butterfly = O(N log N) cross-dim
       cascade; full = dense flattened square matrix (full interconnect, the
       square invertible bridge). Default last. See doc/specs/2026-06-05-
       dimensional-governance.md. -->
  <xs:simpleType name="sigmaPiEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="last"/>
      <xs:enumeration value="butterfly"/>
      <xs:enumeration value="full"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ``reconstructEnum`` / the ``<reconstruct>`` element were RETIRED
       (A1, 2026-06-09). The ConceptualCombine now UNCONDITIONALLY integrates
       all three streams (PS + SS + CS); the former ``perfect`` skip-combine
       mode is gone, so reconstruction is unconditionally from concepts. -->

  <!-- Per-space symbolic-RETRIEVAL mode (doc/plans/2026-06-06-symbolic-
       heat-retrieval.md, Handoff addendum). This is NOT transformer/QKV
       self-attention: the attention element selects how the reverse path
       biases codebook-row retrieval (content proximity + taxonomy heat).
         off          : no heat-biased retrieval; current reverse behavior
                        (DEFAULT; configs with no attention resolve here).
         primer       : row heat only (Taxonomy._priming / priming_mask).
         second-order : dense feature-space carrier C = A_S^T diag(r_S) A_S.
         low-rank     : active factors U = diag(sqrt(r_S)) A_S; Cq = U^T(Uq)
                        without materializing C.
       The legacy boolean hasAttention (which formerly requested a QKV
       AttentionLayer in PartSpace/ConceptualSpace) is DEPRECATED and
       inert; it is kept only as a backward-compat alias (data/model.xml still
       sets it). New configs should use the attention element instead. The
       mode is stored on the owning space and consumed by the reverse-
       retrieval path (later tasks); off preserves current behavior. -->
  <xs:simpleType name="attentionModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="off"/>
      <xs:enumeration value="primer"/>
      <xs:enumeration value="second-order"/>
      <xs:enumeration value="low-rank"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Stage 3 cleanup (2026-05-27): parserBackendEnum and
       routerKindEnum retired alongside the chart. The signal router
       (LanguageLayer) is the canonical parser. -->

  <!-- ``<symbolLearning enabled="true"/>``: the code reads the ``enabled``
       attribute (architecture.symbolLearning.enabled). A nested
       ``<enabled>`` child is also accepted for back-compat. -->
  <xs:complexType name="symbolLearningType">
    <xs:all>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="predictionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="interSentence"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="trainEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="CBOW"/>
      <xs:enumeration value="SBOW"/>
      <xs:enumeration value="BACKPROP"/>
      <xs:enumeration value="BOTH"/>
      <xs:enumeration value="JOINT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="datasetEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="xor"/>
      <xs:enumeration value="phrases"/>
      <xs:enumeration value="substitution"/>
      <xs:enumeration value="queries"/>
      <xs:enumeration value="sequences"/>
      <xs:enumeration value="mnist"/>
      <xs:enumeration value="tomatoes"/>
      <xs:enumeration value="text"/>
      <xs:enumeration value="inline"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lexerEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="word"/>
      <xs:enumeration value="sentence"/>
      <xs:enumeration value="byte"/>
      <!-- raw: InputSpace emits the unanalyzed [B,1,N] byte buffer; the
           meronymic analyzer (chunking="analyse") owns all tokenization. -->
      <xs:enumeration value="raw"/>
      <!-- ``meronomy`` (doc/mereological.md): the canonical analyzer;
           meet-from-top (all-1), the 1-x mirror of the meronomy synthesizer,
           cutting a whole into subordinate parts by boundary properties
           (first approximation: OR(space, punct) word split). -->
      <xs:enumeration value="meronomy"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitInterval">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="1.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nonNegativeFloat">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="positiveFloat">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Data section
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="dataType">
    <!-- xs:choice allows multiple <input>/<output> elements (inline data mode) -->
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <!-- embedding (text/LM, the default for language configs) | numeric
           (dense slab, e.g. MNIST). Was the architecture-level <modelType>. -->
      <xs:element name="dataType" type="dataTypeEnum"/>
      <xs:element name="dataset" type="datasetEnum"/>
      <xs:element name="numShards" type="xs:positiveInteger"/>
      <xs:element name="maxDocs" type="xs:positiveInteger"/>
      <xs:element name="shardDir" type="xs:string"/>
      <xs:element name="minFrequency" type="nonNegativeFloat"/>
      <xs:element name="classificationMin" type="xs:string"/>
      <xs:element name="classificationMax" type="xs:string"/>
      <xs:element name="input">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="use" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="output">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="use" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Training section
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="trainingType">
    <xs:all>
      <xs:element name="numTrials" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="numEpochs" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- RNG seed for the whole run (torch/python/numpy). Pins
           construction-time init and data order so single CLI runs are
           reproducible; the XOR_exact gates rely on this. Env override:
           BASIC_SEED. -->
      <xs:element name="seed" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="batchSize" type="xs:positiveInteger" minOccurs="0"/>
      <!-- DataLoader prefetch workers. 0 means synchronous in-process
           batch assembly. -->
      <xs:element name="numWorkers" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="learningRate" type="nonNegativeFloat" minOccurs="0"/>
      <!-- reconstructionScale: blend weight between OutputSpace
           prediction loss and reconstruction loss. Higher value =
           more reconstruction. 0 = output-only training.
           Legacy name reverseScale still parsed (with deprecation
           warning) by util.TheXMLConfig. -->
      <xs:element name="reconstructionScale" type="unitInterval" minOccurs="0"/>
      <!-- Deprecated legacy alias for reconstructionScale; util.TheXMLConfig
           remaps it (with a deprecation warning). Accepted here so
           unmigrated configs still validate. -->
      <xs:element name="reverseScale" type="unitInterval" minOccurs="0"/>
      <xs:element name="whatScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="whereScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="whenScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="negSamples" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="TruthLoss" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Weight of the truth-grounded reasoning answer (policy) loss
           (doc/plans/2026-06-23-truth-grounded-reasoning.md, Phase 5): NLL on
           the [0,1] proof-success score vs the gold answer, backpropagated
           through the SOFT route (the intervening-idea generator's query head +
           the attention alpha) only, never the hard deduction. Default 0.0 =
           off (no answer loss term). Requires <queryReasoning>. -->
      <xs:element name="answerLossWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Step 2: the next-idea POLICY loss weight. Trains the reasoner's
           {arma, retrieval, deduction} blend to predict the observed next
           end-state root (gradient through the blend weights + scorer only,
           not the detached candidates). 0.0 = off (byte-identical). -->
      <xs:element name="predictNextLossWeight" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="maskRate" type="unitInterval" minOccurs="0"/>
      <xs:element name="trainEmbedding" type="trainEnum" minOccurs="0"/>
      <xs:element name="embeddingScale" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Weight of the conceptual-similarity SBOW loss (the rotation SBOW that
           situates ConceptualSpace.similarity_codebook, which is always built).
           Default 0.0 = the SBOW does not fire and the forward is byte-identical;
           > 0 trains the codebook in the parallel (symbolicOrder=0) forward. -->
      <xs:element name="conceptualSimilarityScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="autoload" type="xs:boolean" minOccurs="0"/>
      <xs:element name="autosave" type="xs:boolean" minOccurs="0"/>
      <xs:element name="checkpointEveryBatches" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="profile" type="xs:boolean" minOccurs="0"/>
      <xs:element name="certainty" type="xs:boolean" minOccurs="0"/>
      <!-- Inter-sentence ARMA(p, q) next-sentence prediction
           (InterSentenceLayer). The layer's AR/MA orders and hidden
           dim live under <SymbolSpace> (armaP/armaQ/armaHiddenDim);
           this scale is the loss weight applied on top of the
           per-batch ARMA MSE. -->
      <xs:element name="sentencePrediction" type="xs:boolean" minOccurs="0"/>
      <xs:element name="armaScale" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="sentencePrimingScale" type="nonNegativeFloat" minOccurs="0"/>
      <!-- In-STM autoregressive prediction (IntraSentenceLayer). Loss
           weight on the per-word L_intra = MSE(predicted idea, observed
           idea), added to the IR-loss path. The PI-then-Sigma predictor
           is owned by ConceptualSpace. -->
      <xs:element name="intraLossWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- Inter-sentence end-state prediction (InterSentenceLayer's
           inter-level IntraSentenceLayer instance). Loss weight on the
           per-sentence L_inter = MSE(predicted next-end-state root,
           observed root), summed over the discourse window. Mirrors
           intraLossWeight. -->
      <xs:element name="interLossWeight" type="nonNegativeFloat" minOccurs="0"/>
      <!-- InfoNCE next-idea contrastive term: weight + softmax temperature.
           Reuses the InterSentenceLayer end-state chain (positive next root
           ranked above the chain's past roots). 0.0 weight -> MSE-only
           (byte-identical). -->
      <xs:element name="interContrastiveWeight" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="interContrastiveTemp" type="positiveFloat" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Server section
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="serverType">
    <xs:all>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="timeout" type="xs:positiveInteger" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Space types
       ═══════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="inputSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <!-- Phase 4b (analysis/synthesis dual-input plan, rev. 2026-06-09):
           the <lexer> element moved to WholeSpace - lexing is analytic
           cutting, owned by the analysis side. An InputSpace-side <lexer>
           now fails schema validation AND the runtime reader. -->
    </xs:all>
  </xs:complexType>

  <xs:complexType name="partSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="passThrough" type="xs:boolean" minOccurs="0"/>
      <!-- DEPRECATED QKV legacy alias; inert. See attentionModeEnum. -->
      <xs:element name="hasAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode (off|primer|second-order|low-rank);
           default off. Supersedes <hasAttention>. See attentionModeEnum
           and doc/plans/2026-06-06-symbolic-heat-retrieval.md. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Stage 5 (doc/plans/2026-05-26-two-loop-pi-sigma-substrate.md):
           optional butterfly cascade on PartSpace.pi for
           cross-element FFT-style mixing over the flattened [B, N*D]
           view. When ``butterfly=true`` the PiLayer is built with the
           cascade enabled. The cascade length N is AUTO-COMPUTED from
           the space shape (nInput * nInputDim) and internally padded to
           the next power of two; there is no explicit length knob (the
           former ``<butterflyN>`` element was retired 2026-06-05; the
           cascade derives N from the shape). Default off; configs that
           don't opt in see the legacy PiLayer construction unchanged. -->
      <!-- DEPRECATED alias for <sigmaPi> (true -> butterfly, false/absent
           -> last). New configs should use architecture-level <sigmaPi> instead. -->
      <xs:element name="butterfly" type="xs:boolean" minOccurs="0"/>
      <!-- PartSpace is subsymbolic: its <codebook> element was retired
           (2026-06-09, asymmetric-VQ plan §7 task 7). PS behaviour is fixed
           to "none" (continuous .event passthrough; percept prototypes live
           on the .what Embedding). Only WholeSpace carries a <codebook>. -->
      <!-- VQ-VAE EMA / growing-codebook knobs (shared semantics with
           wholeSpaceType; see comments there). -->
      <xs:element name="commitmentDecay" type="positiveFloat" minOccurs="0"/>
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebookEmaDeadThreshold" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="codebookGrowthEpsilon" type="nonNegativeFloat" minOccurs="0"/>
      <!-- wordLearning (formerly chunkingFrequency): controls active
           lexicon growth. 0 = frozen codebook (training-time default);
           >=1 = on first sight of a new word, insert it into the
           lexicon and tag it as a part of the "words" symbol on the
           meronomy. Only embed.py sets >0 at lexicon-build time. -->
      <xs:element name="wordLearning" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Phase 4 of the analysis/synthesis dual-input plan (rev.
           2026-06-09): the perceptual front-end knob is SYNTHESIS,
           the bottom-up union of atoms into chunks/surface forms. It
           was named ``<chunking>``; the legacy spelling is REJECTED
           LOUDLY by the PartSpace reader (no silent aliasing).
           ``analyse`` is accepted here only until Phase 4b moves the
           meronymic analyzer to WholeSpace <analysis>. -->
      <xs:element name="synthesis" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="bpe"/>
            <xs:enumeration value="mphf"/>
            <xs:enumeration value="lexicon"/>
            <!-- ``none``: byte-direct.  Each byte becomes its own
                 perceptual slot via a 256-entry codebook lookup; no
                 BPE walker, no Python trie, no graph break at the
                 chunking boundary.  ``\0`` (byte 0) doubles as the
                 sentence-end / pad sentinel.  Requires nVectors>=256
                 and dataType=embedding.  See doc/Spaces.md
                 §"Chunking modes" for the cognitive rationale.
                 ``byte`` is the canonical spelling; ``none`` is its
                 legacy alias. -->
            <xs:enumeration value="none"/>
            <xs:enumeration value="byte"/>
            <!-- Stage 7 (doc/plans/2026-05-27-perceptstore-meta-
                 taxonomy-reentrancy.md): ``radix`` routes chunking
                 through a ``PerceptStore`` (radix trie + hash map +
                 inverse table + learned codebook + byte fallback +
                 promotion). An alternative to Lexicon/MPHF/BPE for
                 the surface-form authoritative store; opt in with
                 ``<synthesis>radix</synthesis>``. -->
            <xs:enumeration value="radix"/>
            <!-- ``meronomy`` (doc/mereological.md): the canonical synthesizer.
                 Combines parts into a DOMINATING whole (join-from-bottom +
                 isotonic .where projection = the concept lattice, inert until
                 wired) AND isolates words (tags each percept by its WORD via
                 Meronomy.word_spans over the raw surface, so word_groups is one
                 agreed WORD grid for PS/WS/CS; the serial per-word commit +
                 autobind mint one word/object/meta per word). Paired with the
                 WholeSpace <analysis>meronomy</analysis>. -->
            <xs:enumeration value="meronomy"/>
            <!-- the PartSpace ``analyse`` synthesis was REMOVED (Phase 4b, rev.
                 2026-06-09): the meronymic analyzer is top-down ANALYSIS and
                 lives on WholeSpace as <analysis>grammatical. Configs that ran
                 PS analyse migrate to <synthesis>lexicon (the closest surviving
                 word-resolution mode). -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Stage 7: radix-mode promotion knobs. ``chunkPromotionThreshold``
           is the byte-fallback hit count at which an unknown chunk
           gets promoted into the trie + codebook (default 4).
           ``chunkPromotionMinLength`` is the minimum chunk length
           (in bytes) below which promotion never fires (default 2).
           Both are ignored when chunking != "radix". -->
      <xs:element name="chunkPromotionThreshold"
                  type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="chunkPromotionMinLength"
                  type="xs:positiveInteger" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="modalSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="passThrough" type="xs:boolean" minOccurs="0"/>
      <!-- DEPRECATED QKV legacy alias; inert. See attentionModeEnum. -->
      <xs:element name="hasAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode; default off. See attentionModeEnum. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="whatPassThrough" type="xs:boolean" minOccurs="0"/>
      <xs:element name="wherePassThrough" type="xs:boolean" minOccurs="0"/>
      <xs:element name="whenPassThrough" type="xs:boolean" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="conceptualSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- DEPRECATED QKV legacy alias; inert. See attentionModeEnum. -->
      <xs:element name="hasAttention" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode; default off. Supersedes <hasAttention>.
           See attentionModeEnum. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Optional butterfly cascade on the ConceptualSpace sigma fold
           (cross-element mixing; the cascade length is auto-computed from
           the space shape; see partSpaceType/butterfly). -->
      <!-- DEPRECATED alias for <sigmaPi> (true -> butterfly, false/absent
           -> last). New configs should use architecture-level <sigmaPi> instead. -->
      <xs:element name="butterfly" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <!-- VQ-VAE EMA / growing-codebook knobs (shared semantics with
           wholeSpaceType; see comments there). -->
      <xs:element name="commitmentDecay" type="positiveFloat" minOccurs="0"/>
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebookEmaDeadThreshold" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="codebookGrowthEpsilon" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="tetralemmaOverride" type="tetralemmaOverrideType" minOccurs="0"/>
      <xs:element name="TetralemmaPolicy" type="tetralemmaPolicyType" minOccurs="0"/>
      <xs:element name="stmCapacity" type="xs:positiveInteger" minOccurs="0"/>
      <!-- perWordStemSerial: when true, the per-word stem uses a
           causal cursor loop (option (a) from the K-microbatch
           design discussion) instead of the parallel-over-AR-windows
           default.  Serial path: B-sized STM accumulates one new
           word per step; after the K-loop the snapshots are staged
           as [B*K, K, D_c] for the body's chart-at-C parallelism.
           Work drops from O(B*K*N) to O(B*K) in the stem.  Inductor
           unrolls the loop when K is shape-bucketed (BPE power-of-
           two quantisation). -->
      <xs:element name="perWordStemSerial" type="xs:boolean" minOccurs="0"/>
      <!-- Per-space override of architecture.truthCriterion. -->
      <xs:element name="truthCriterion" type="unitInterval" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="wholeSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Phase 4b (analysis/synthesis dual-input plan, rev. 2026-06-09):
           WholeSpace owns the top-down ANALYSIS knobs.
           <lexer> (moved here from InputSpace): the intake granularity
           InputSpace executes - lexing is analytic cutting.
           <analysis>: the division strategy over the unity view.
             byte    = uniform contiguous regions (default; the stage-0
                       region-mean pooling).
             word    = whitespace-cut parts; per-part coarse means.
             analyse = the meronymic analyzer front end (space-lexer cut
                       today; the bottom-up merge integration follows with
                       the deeper SS analyzer work, Phases 5-6). -->
      <xs:element name="lexer" type="lexerEnum" minOccurs="0"/>
      <!-- <analyzer> REPLACES <lexer> (doc/mereological.md): tokenization is
           analytic cutting, owned by the analysis side (the meet-from-top
           mereological analyzer). <lexer> is the deprecated spelling; the
           config reader accepts both, preferring <analyzer>. -->
      <xs:element name="analyzer" type="lexerEnum" minOccurs="0"/>
      <!-- Task 5 (C-13, asymmetric-vq sec.6): the post-sentence semantic
           arrangement weight over SS heat (pode attraction + antipode
           repulsion on the activated codebook rows). Default 0 = OFF:
           the mechanism is validated under D (corpus, serial path). -->
      <xs:element name="semanticArrangement" type="nonNegativeFloat"
                  minOccurs="0"/>
      <xs:element name="analysis" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <!-- <analysis> is the UNIFIED WholeSpace knob; it absorbs the lexer
                 options (raw/byte/word/sentence; <lexer>/<analyzer> are the
                 deprecated spellings) PLUS the analysis-only modes. The
                 lexer-valued options set the surface lexer; the analysis-only
                 values (grammatical/meronomy) leave the lexer at raw and select
                 the division. -->
            <xs:enumeration value="byte"/>
            <xs:enumeration value="word"/>
            <xs:enumeration value="raw"/>
            <xs:enumeration value="sentence"/>
            <!-- ``grammatical`` (formerly ``analyse``): the property/boundary
                 analysis that cuts a whole into grammatical parts. -->
            <xs:enumeration value="grammatical"/>
            <!-- ``meronomy``: the meronymic word-isolation cut (1-x dual of the
                 meronomy synthesizer), paired with <synthesis>meronomy. -->
            <xs:enumeration value="meronomy"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="passThrough" type="xs:boolean" minOccurs="0"/>
      <!-- Symbolic-retrieval mode (off|primer|second-order|low-rank);
           default off. WholeSpace has no hasAttention legacy alias:
           it never constructed a QKV AttentionLayer. See attentionModeEnum
           and doc/plans/2026-06-06-symbolic-heat-retrieval.md. -->
      <xs:element name="attention" type="attentionModeEnum" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- Optional butterfly cascade on the WholeSpace sigma operator
           (cross-slot mixing, needed for tasks like XOR that combine
           positions; the cascade length is auto-computed from the space
           shape; see partSpaceType/butterfly). -->
      <!-- DEPRECATED alias for <sigmaPi> (true -> butterfly, false/absent
           -> last). New configs should use architecture-level <sigmaPi> instead. -->
      <xs:element name="butterfly" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="sortNetwork" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sortPasses" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Gate WholeSpace's stack-rewrite LanguageLayer dispatch
           (``self.use_stack_router``). Default false keeps the legacy
           forward path. -->
      <xs:element name="useStackRouter" type="xs:boolean" minOccurs="0"/>
      <xs:element name="l1Lambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="discontinuityLambda" type="xs:decimal" minOccurs="0"/>
      <xs:element name="symbolResidualScale" type="xs:decimal" minOccurs="0"/>
      <xs:element name="outputSymbolResidualScale" type="xs:decimal" minOccurs="0"/>
      <xs:element name="commitmentBeta" type="nonNegativeFloat" minOccurs="0"/>
      <!-- VQ-VAE EMA decay (``VectorQuantize.decay``).  Higher = slower
           adaptation, more stable assignment across time; lower =
           faster drift but less stable.  Default 0.9 (see
           doc/Spaces.md §"Codebook drift sync"). -->
      <xs:element name="commitmentDecay" type="positiveFloat" minOccurs="0"/>
      <!-- Dead-code retire: when a slot's EMA ``cluster_size`` falls
           below ``codebookEmaDeadThreshold``, replace it with a fresh
           sample from the current input batch.  Off by default
           because reseeding can blow up the effective number of
           distinct codes on non-stationary data; enable for
           growing-codebook semantics where novel inputs should evict
           rarely-used slots. -->
      <xs:element name="codebookRetire" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebookEmaDeadThreshold" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- Novelty insertion threshold for ε-growing codebook semantics.
           When > 0, ``VectorQuantize.grow_on_novelty`` inserts an input
           vector into an empty slot whenever its min-distance to the
           live codebook exceeds this value.  0 disables (use
           dead-code retire above, or fixed-size codebook). -->
      <xs:element name="codebookGrowthEpsilon" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="decorrelationWeight" type="xs:decimal" minOccurs="0"/>
      <xs:element name="spectralFlatnessWeight" type="xs:decimal" minOccurs="0"/>
      <xs:element name="impenetrableAntisymmetry" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="impenetrableTransitivity" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="impenetrableOverlap" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="impenetrableVariance" type="nonNegativeFloat" minOccurs="0"/>
      <xs:element name="tetralemmaOverride" type="tetralemmaOverrideType" minOccurs="0"/>
      <xs:element name="TetralemmaPolicy" type="tetralemmaPolicyType" minOccurs="0"/>
      <!-- Stage 8 (doc/plans/2026-05-27-perceptstore-meta-taxonomy-
           reentrancy.md §Stage 8): META taxonomy storage placeholder.
           The actual taxonomy graph (parent -> children, child -> parent,
           and (ps_idx, ws_idx) -> meta_idx) is a runtime structure on
           ``WholeSpace`` (``self.taxonomy``,
           ``self.taxonomy_parent_map``, ``self.meta_pair_to_idx``);
           it serialises through ``vocab_extras`` (the same sidecar that
           carries WordVectors mappings). This optional XSD element exists
           so configs can ship a comment about the storage location and
           future seeded-taxonomy bootstraps without schema drift. The
           string contents are advisory only; no runtime knob is
           consumed from here. -->
      <xs:element name="taxonomy" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="outputSpaceType">
    <xs:all>
      <xs:element name="nInput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nOutput" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nActive" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nDim" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nInputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nOutputDim" type="xs:integer" minOccurs="0"/>
      <xs:element name="nVectors" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="invertible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codebook" type="codebookModeEnum" minOccurs="0"/>
      <xs:element name="nonlinear" type="xs:boolean" minOccurs="0"/>
      <!-- lrScale: multiplier on the base learning rate for the OutputSpace
           (readout) parameters only; they go in their own Adam group at
           lr*lrScale. Default 1.0 (single group, byte-identical). >1 lets the
           ill-conditioned, co-adapting regression readout track the upstream
           features faster so it converges to a crisp solution within the
           epoch budget. -->
      <xs:element name="lrScale" type="xs:decimal" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       SymbolSpace section — unified container for grammar infrastructure
       (SyntacticLayers, TruthLayer) and the per-batch inter-sentence
       ARMA(p, q) predictor (InterSentenceLayer). Sentence-level AR
       lives here, not in the within-sentence body — the body is now
       a pure IR (masked-LM) forward.

       InterSentenceLayer shape knobs live in this section
       (armaP / armaQ / armaHiddenDim); the loss weight lives under
       <architecture><training> as <armaScale>.
       ═══════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="symbolSpaceType">
    <xs:all>
      <xs:element name="syntacticHiddenDim" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="truthMaxEntries" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="nWhere" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="nWhen" type="xs:nonNegativeInteger" minOccurs="0"/>
      <!-- InterSentenceLayer ARMA(p, q) shape knobs. p = AR lag count
           (number of previous sentence reps); q = MA lag count
           (number of previous prediction errors); armaHiddenDim is
           the MLP predictor's hidden layer width.  Defaults: p=5,
           q=2, hiddenDim=2*sentence_dim (computed at construction
           time when omitted). -->
      <xs:element name="armaP" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="armaQ" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="armaHiddenDim" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Long-term-memory (LTM) chain capacity: the InterSentenceLayer
           bounds its per-row chain of STM end-states (the AR sequence
           used for inter-sentence prediction) at this many entries.
           Separate from <truthMaxEntries> (TruthLayer's SS-codebook
           capacity). Default 1024. -->
      <xs:element name="ltmCapacity" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Stage 3 cleanup (2026-05-27): parserBackend, routerKind,
           chartTau, chartTopK, chartNoiseEps retired alongside
           the chart. The signal router (LanguageLayer) is the
           canonical parser. The retired elements raise loud
           ValueError at config load time; see
           Language._assert_retired_chart_knobs_absent. -->
      <!-- Soft-superposition output collapse mode; preserved for the
           signal router's root-state writeback contract. -->
      <xs:element name="chartCollapse" type="chartCollapseEnum" minOccurs="0"/>
      <!-- Per-word stem is the only path. Each word does an individual
           P->C->S->C round trip in the stem, ideas accumulate on
           ConceptualSpace.stm, and the chart fires at C over STM in the
           body. ``perWordStem`` knob removed 2026-05-12; legacy chart-
           at-stem launch retired in the same pass. -->
      <!-- Number of P->C iterations per word in the per-word stem path. -->
      <xs:element name="iterationsPerWord" type="xs:positiveInteger" minOccurs="0"/>
      <!-- Downward generation: when true, MentalModel.forward() emits a
           codebook head via SymbolSpace.reconstruct() and stashes it on
           self._predicted_head for downstream (e.g. loss) consumption. -->
      <xs:element name="downwardGeneration" type="xs:boolean" minOccurs="0"/>
      <xs:element name="language" type="languageType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="embeddingsType">
    <xs:all>
      <xs:element name="numShards" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="maxDocs" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="vectorSize" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="trainingEpochs" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="minCount" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="artifactPath" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════
       Language section (inside <SymbolSpace>)
       ═══════════════════════════════════════════════════════════════════ -->
  <!-- ``start`` may repeat: multiple ``<start>`` tags define accepted
       unreduced forms / start patterns (see test_grammar_start_rule), so
       this uses xs:sequence (start* then grammar? then interpretation?)
       rather than xs:all (which caps each child at one). -->
  <xs:complexType name="languageType">
    <xs:sequence>
      <xs:element name="start" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="grammar" type="grammarType" minOccurs="0"/>
      <xs:element name="interpretation" type="unitInterval" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grammarType" mixed="true">
    <!-- Grammar XML is intentionally open: configs may carry inline
         tier tags (<P>, <C>, <S>) and structured sections such as
         <compose>/<generate>, OR a bare text filename reference
         (``<grammar>complete.grammar</grammar>``) that
         ``SymbolicSubSpace.load_from_grammar_file`` resolves under
         ``data/``. ``mixed="true"`` admits both forms. Language.py
         owns rule parsing. -->
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grammarSectionType">
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
